networks:
  traefik_network:
    external: true

services:
  airapi:
    build: .
    container_name: javalin-api
    image: traefik/airapi

    networks:
      - traefik_network
    expose:
      - "8080"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.airapi.entrypoints=https
      - traefik.http.routers.airapi.rule=Host(`${API_FULLY_QUALIFIED_DOMAIN_NAME}`)
      - traefik.http.services.airapi.loadbalancer.server.port=8080
